---
---

@import "{{ site.theme }}";

a {
 color:#008374;
}
a:hover,
a:focus {
 color:#1cc7d0;
}
a small {
 color:#6a0dad;
}
a:hover small {
 color:#6a0dad
}

body {
 font-family: "Verdana", Geneva, sans-serif;
 font-size: 105%;
}

h1, h2, h3, h4, h5, h6 {
 letter-spacing: -0.08em;
}

header h1 a {
 font-size: 1.2em;
}
